# Ignore the out dir because it contains Pester test results which contain PII such as fully-qualiified file paths
out/

# Ignore the node_modules dir because it contains a lot of files that are not needed in the repo (node will recreate it when needed)
docs/online/node_modules
